<h2
    style="">
    Marksmanship Tests</h2>

<h3 class="h3">Markmanship Test Rules</h3>
<p class="p" style="text-indent: 1em;">You may participate in the marksmanship test with one of four eligible rifles
    listed below. To obtain a gold medal or above you must have a bayonet equipped to your rifle.

<div class="ml-10">
    <h4>Rifles:</h4>
    <ul class="fa-ul">
        <li><span class="fa-li"><i class="fa-sharp fa-solid fa-person-rifle"></i></span> Springfield M1861</li>
        <li><span class="fa-li"><i class="fa-sharp fa-solid fa-person-rifle"></i></span> Enfield M1853</li>
        <li><span class="fa-li"><i class="fa-sharp fa-solid fa-person-rifle"></i></span> Lorenz M1854</li>
        <li><span class="fa-li"><i class="fa-sharp fa-solid fa-person-rifle"></i></span> Mississippi 1841</li>
    </ul>
</div>


<h3 class="h3 !mt-[30px]">Official Scoring &amp; Medals</h3>

<div class="ml-10">
    <h4>Target 1 (40 Yards)</h4>
    <ul class="fa-ul">
        <li><span class="fa-li"><i class="fa-light fa-circle-check"></i></span> Each soldier will get <i style="color:#761912;">7 shots</i> on the 40 yard target.
        <li><span class="fa-li"><i class="fa-light fa-circle-check"></i></span> For each outer-circle hit on the 40 yard target, you will be awarded 0 points,
        <li><span class="fa-li"><i class="fa-light fa-circle-check"></i></span> For each inner-circle hit 2 points
        <li><span class="fa-li"><i class="fa-light fa-circle-check"></i></span> For each bulls-eye you will get 5 points.
    </ul>

    <h4>Target 2 (70 Yards)</h4>

    <ul class="fa-ul">
        <li><span class="fa-li"><i class="fa-light fa-circle-check"></i></span> Each soldier will get <i style="color:#761912;">6 shots</i> on the 70 yard target.
        <li><span class="fa-li"><i class="fa-light fa-circle-check"></i></span> For each hit on the outer-circle you will get 3 points
        <li><span class="fa-li"><i class="fa-light fa-circle-check"></i></span> For each hit on the inner circle you will get 5 points
        <li><span class="fa-li"><i class="fa-light fa-circle-check"></i></span> For each bulls-eye hit you will get 7 points.
    </ul>


    <h4>Target 3 (125 Yards)</h4>
    <ul class="fa-ul">
        <li><span class="fa-li"><i class="fa-light fa-circle-check"></i></span> Each soldier will get <i style="color:#761912;">5 shots</i> on the 125 yard targets.
        <li><span class="fa-li"><i class="fa-light fa-circle-check"></i></span> For each hit on the board you are awarded 3 points
        <li><span class="fa-li"><i class="fa-light fa-circle-check"></i></span> For each outer-circle hit is 5 points, each inner-circle hit is 7
        <li><span class="fa-li"><i class="fa-light fa-circle-check"></i></span> For each bulls-eye hit is 10 points.
    </ul>
    
    <h4>Medals</h4>
    <ul class="fa-ul">
        <li><span class="fa-li"><i style="color: #16a3db" class="fa-solid fa-medal"></i></span> Platinum: 80 Points <small>*</small></li>
        <li><span class="fa-li"><i style="color: #dbce16" class="fa-solid fa-medal"></i></span> Gold: 60 Points <small>*</small></li>
        <li><span class="fa-li"><i style="color: #a6b9c0" class="fa-solid fa-medal"></i></span> Silver: 50 Points</li>
        <li><span class="fa-li"><i style="color: #6b4424" class="fa-solid fa-medal"></i></span> Bronze: 30 Points</li>
    </ul>
    <p class="p">* - Bayonet Required</p>

</div>