<h2 class="hidden sm:block">Regimental Schedule</h2>
   <h2 class="block sm:hidden">Our Schedule</h2>

<div class="grid lg:grid-cols-2 grid-cols-1 gap-4">

    <div class="lg:col-start-1 lg:col-end-2">
        <h3 class="h3">NA Schedule</h3>
        <div *ngFor="let usDay of Us" class="lg:ml-10">
            <h4>{{usDay.day}}</h4>
            <span [innerHTML]="usDay.type"></span>
        </div>
    </div>

    <div class="lg:col-start-2 lg:col-end-3">
        <h3 class="h3">EU Schedule</h3>
        <div *ngFor="let euDay of Eu" class="lg:ml-10">
            <h4>{{euDay.day}}</h4>
            <span [innerHTML]="euDay.type"></span>
        </div>
    </div>

</div>